<footer class="text-center mt-5 py-3">
    <p>Made with <span class="fas fa-heart text-danger" aria-hidden="true"></span> by <a href="https://github.com/RSHKDL">Ereshkidal</a></p>
    <p class="m-0">Games data are provided by <a href="https://rawg.io/">rawg.io</a></p>
</footer>