{% extends 'base.html.twig' %}

{% block body %}
{% include('layout/_header.html.twig') %}
<div class="container">
    {% block page_content %}{% endblock page_content %}
</div>
{% include('layout/_footer.html.twig') %}
{% endblock body %}
