<h3>Add a finished game!</h3>
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
<button type="submit" class="btn btn-primary">
    <span class="fa fa-trophy" aria-hidden="true"></span>
    &nbsp;I did it!
</button>
{{ form_end(form) }}