<h3>All your finished games</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>What</th>
            <th>How many achievements</th>
            <th>Time spent</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for gamePlayed in gamesPlayed %}
        <tr>
            <td>{{ gamePlayed.game.name }}</td>
            <td>To do</td>
            <td>{{ gamePlayed.timeSpent }}</td>
            <td>
                <a href="#" class="js-delete-game-played">
                    <span class="fa fa-trash text-danger" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">Finish some games!</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td>&nbsp;</td>
            <th>Total time spent</th>
            <th>To do</th>
            <td>&nbsp;</td>
        </tr>
    </tfoot>
</table>