<h3>All your finished games</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>What</th>
            <th>How many achievements</th>
            <th>Time spent</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
            <td>&nbsp;</td>
            <th>Total time spent</th>
            <th class="js-total-hours-played"></th>
            <td>&nbsp;</td>
        </tr>
    </tfoot>
</table>