{% extends 'base.html.twig' %}

{% block title %}Track your progress{% endblock %}

{% block body %}
    <section class="container js-game-played-wrapper" data-games-played="{{ gamesPlayedJson|e('html_attr') }}">
        <h2>Track your progress</h2>
        {% include('progress_tracker/_form.html.twig') %}
        {% include('progress_tracker/_history.html.twig') %}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('progress-tracker') }}
{% endblock %}
